body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    life-style: none;
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgbs(0,0,0,0,1);
}

a {
    margin-left: 10px;
    text-decoration: none;
}